<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="adminPage_Style.css">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="admin_dashboard.html">Admin Dashboard</a></li>
            <li><a href="manage_orgs.html">Manage Org</a></li>
            <li><a href="events.html">Manage Events</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="#" onclick="logout()">Logout</a></li>
        </ul>
    </nav>

    <header>
        <h1>Admin Dashboard</h1>
    </header>

    <div class="admin-container">
        <div class="options-container">
            <h2>Admin Options</h2>
            <div class="admin-options">
                <button onclick="window.location.href='establish_org.html'">Establish an Organization</button>
                <button onclick="window.location.href='create_event.html'">Create an Event</button>
                <button onclick="window.location.href='edit_event.html'">Edit Event</button>
                <button onclick="window.location.href='manage_users.html'">Manage Users</button>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Mission Meet. All rights reserved.</p>
    </footer>

</body>
</html>
