<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Source for Esri Leaflet: Courtney Yatteau Esri Leaflet Series @ Youtube https://www.youtube.com/watch?v=gpOK0rnMq4U -->
    <!-- Source for Philippines Dataset for landmark overlays: https://data.humdata.org/dataset/hotosm_phl_buildings -->

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@4.2.2/dist/esri-leaflet-vector.js"></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.css">
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.js"></script>
    
    <style>
    #map {
        height: 500px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #323232;
    }
    </style>

    <title>Create Event</title>
    <link rel="stylesheet" href="create_eventStyle.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li><a href="admin_dashboard.html">Admin Dashboard</a></li>
            <li><a href="manage_orgs.html">Manage Orgs</a></li>
            <li><a href="events.html">Manage Events</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
    </nav>

    <header>
        <h1>Create an Event</h1>
    </header>

    <div class="admin-container">
        <form id="eventForm" action="#" method="POST">
            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName" required>

            <label for="eventDate">Event Date:</label>
            <input type="date" id="eventDate" name="eventDate" required>

            <label for="eventTime">Event Time:</label>
            <input type="time" id="eventTime" name="eventTime" required>

            <label for="eventDescription">Event Description:</label>
            <textarea id="eventDescription" name="eventDescription" required></textarea>

            <label for="eventLocation">Display Image:</label>
            <input type="file" id="displayImage" name="displayImage" accept="image/*" required>

            <label for="map">Event Location:</label>
            <div id="map"></div>
            <input type="hidden" id="eventLocation" name="eventLocation">
            <br>

            <button type="submit">Create Event</button>
        </form>

    </div>

    <footer>
        <p>&copy; 2025 Mission Meet. All rights reserved.</p>
    </footer>

    <script>
        const map = L.map("map");
        map.setView([14.564781621943611, 120.99316669725252], 16);

        const apiKey = "AAPTxy8BH1VEsoebNVZXo8HurIL-G0eUvB5xglJ-20E_FhY9vogODhUg9C9_wUOdvicfmIs4uVtlB5Dj0qblyEHXb91lNJwJBX0hbzWxyHYXHqt_TDSynuWOSLBwi7jJsv6RZeSovWyN37I0VFdxpTBtwWnIaSZyKbuwQ6eGxYvs8T2jloCpPxVUqvXx380Z-2UkId2bqfmbCtr5Y5Vp3yyHBvALMSYZSUvj9R3jzwX4Qic.AT1_nLUKAB1N";

        L.esri.Vector.vectorBasemapLayer("arcgis/community", {
            apiKey: apiKey
        }).addTo(map);

        L.esri.featureLayer({
            url: "https://services1.arcgis.com/FmRRmfAh5zbc48Ll/arcgis/rest/services/ph/FeatureServer"
        }).addTo(map);

        const layerGroup = L.layerGroup().addTo(map);

        map.on("click", function (e) {
            L.esri.Geocoding
                .reverseGeocode({
                apikey: apiKey
            }).latlng(e.latlng).run(function (error, result) {

                layerGroup.clearLayers();
                const marker = L.marker(result.latlng).bindPopup(result.address.Match_addr).addTo(layerGroup);
                marker.openPopup();
                
                console.log(result.address.Match_addr); // log results and place results to hidden form
                document.getElementById("eventLocation").value = result.address.Match_addr;
            });
        });

        const searchControl = L.esri.Geocoding.geosearch({
            position: "topright",
            useMapBounds: false,
            providers: [
                L.esri.Geocoding.arcgisOnlineProvider({
                apikey: apiKey
            })
            ]
        }).addTo(map);

        searchControl.on("results", function (data) {
            layerGroup.clearLayers();
            for (let i = data.results.length - 1; i >= 0; i--) {
                
                const marker = L.marker(data.results[i].latlng);
                marker.bindPopup(data.results[i].text || "Selected location").addTo(layerGroup);
                marker.openPopup();

                document.getElementById("eventLocation").value = data.results[i].text;
                console.log(data.results[i].text);
            }
        });

        import { createEvent } from '../../controllers/eventController.js';

        document.addEventListener('submit', async (e) => {

            e.preventDefault();

            const eventName = document.getElementById('eventName').value;
            const eventDate = document.getElementById('eventDate').value;
            const eventTime = document.getElementById('eventTime').value;
            const eventDescription = document.getElementById('eventDescription').value;
            const eventLocation = document.getElementById('eventLocation').value;

            const imageFile = document.getElementById('displayImage');
            let image = null;
            
            if (imageFile.files.length > 0) {
                image = imageFile.files[0].name;
            }

            const result = await createEvent(eventName, eventDate, eventTime, eventDescription, eventLocation, image);

            if (result.success) {
                alert(result.message);
                window.location.href = 'Admin_dashboard.html';
            }

            else {
                alert("There Was an Error Creating the Event");
            }
        });


    </script>
</body>
</html>
