body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;
    padding-top: 60px; 
}

header {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 60px;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #4CAF50;
}

.events-container {
    padding: 30px;
    margin-top: 60px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 30px auto;
    padding-left: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 105%;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;

}

ul li {
    margin: 10px 0;
    text-align: center;
}
