body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50; /* Green color for top */
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50; /* Green color for bottom */
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.login-container {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 50px 0;
    padding-left: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.checkbox-label {
    font-size: 14px;
    color: #333;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #45a049;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.signUp {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #4CAF50;
    text-decoration: none;
}